<?xml version="1.0" encoding="utf-8"?>
<config>
	<settings>
		<enableXml>True</enableXml>
		<enableWss>True</enableWss>
		<ontop>True</ontop>
		<snapto>True</snapto>
		<prefix />
		<versus />
		<teams />
		<aorb />
	</settings>
	<tabs>
		<item type="talk" name="casters" auto="true">
			<head>Casters</head>
		</item>
		<item type="trophy2i" name="teams" auto="true">
			<head>teams</head>
		</item>
		<item type="timer" name="timers" auto="true">
			<head>timers</head>
		</item>
		<item type="music" name="music" auto="true">
			<head>music</head>
		</item>
		<item type="text" name="alerts" auto="true">
			<head>Alerts</head>
		</item>
	</tabs>
</config>