<?xml version="1.0" encoding="utf-8"?>
<config>
	<settings>
		<ontop>False</ontop>
		<snapto>False</snapto>
		<prefix />
		<versus />
		<teams />
		<aorb />
	</settings>
	<tabs>
		<item type="trophy2i" name="teams" auto="true">
			<head>teams</head>
		</item>
		<item type="talk" name="casters" auto="true">
			<head>casters</head>
		</item>
		<item type="timer" name="timers" auto="true">
			<head>timers</head>
		</item>
	</tabs>
</config>