/*SKL Alert Animations */
/*Developed by: Matthew Rousseaux*/

#renderArea{
	position:relative;
	height: 65px;
}
.container {
	width: 655px;
	height: 0px;
	background: #293134;
	position: absolute;
	bottom: 0px;
	overflow: hidden;
	color: white;
	font-family: 'Arial';
	border-style: solid;
    border-width: 5px 0px 0px 0px;
	border-color: grey;
	visibility: hidden;
	box-shadow: 0px -5px 29px 0px rgba(224,221,224,1);

}
.content {
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
	text-transform: uppercase;
}


/*---------------------------Animation---------------------------*/

@keyframes animateText1{
    0%, 100%   {height: 0px;visibility: visible;}
    30%, 60% {height: 40px;}
	
	}
@keyframes animateText2{
    0%, 100%   {height: 0px; visibility: visible;}
    30%, 60% {height: 40px;}
	
	}

#text1 {
	animation-name: animateText1	;
    animation-duration: 5s;
}
#text2 {
	animation-name: animateText2	;
	animation-delay: 5s;
	animation-duration: 5s;
}