/*SKL Alert Animations */
/*Developed by: Matthew Rousseaux*/


/*Ticker*/

#renderArea{
	position:relative;
	height: 65px;
}
.container {
	width: 655px;
	height: 0px;
	background: #293134;
	position: absolute;
	bottom: 0px;
	overflow: hidden;
	color: white;
	font-family: 'Arial';
	border-style: solid;
    border-width: 5px 0px 0px 0px;
	border-color: grey;
	visibility: hidden;
	box-shadow: 0px -5px 29px 0px rgba(224,221,224,0.1);

}
.content {
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
	text-transform: uppercase;
}


/*power play*/
.barronIcon{
	width: 74px;
	height: 61px;
	position: absolute;
	top: 0px;
	left: 0px;
	/*float: left;*/
	z-index: 2;
	visibility: hidden;
}
.barronTitle {
	/*float: left;*/ 
	padding: 10px 0 0 80px;
	text-align: left;
	width: 192px;
	height: 41px;
	position: absolute;
	top: 12px;
	left: 4px;
	background-image: url("images/barronBarBG.png");
	background-repeat: no-repeat;
	font-family: 'Arial';
	font-weight: bold;
	font-size: 1em;
	font-style: italic;
	color: white;
	text-transform: uppercase;
	overflow: hidden;
	z-index: -1;
	white-space:nowrap;
	visibility: hidden;
}
.barronTitle span {
	opacity: 0;
}
/*---------------------------Animation---------------------------*/

@keyframes animateText1{
    0%, 100%   {height: 0px;visibility: visible;}
    30%, 60% {height: 40px;}
	
	}
@keyframes animateText2{
    0%, 100%   {height: 0px; visibility: visible;}
    30%, 60% {height: 40px;}
	
	}

@keyframes animateBarronIcon{
	0%, 100% {visibility: visible; top: -62px;opacity: 0;}
	.5%, 99.5% {top: 0px;opacity: 1;}
}	
@keyframes animateBarronTitle{
	0%,100% {padding-left: 0px; width: 0px;visibility: visible;}
	0.5%,99.5% {padding: 10px 0 0 72px; width: 192px;}
}
@keyframes animatePPSpan{
	0%,100% {visibility: visible;opacity:0;}
	0.5%,99.5% {opacity: 1;}
}

.barronIcon {
	animation-name: animateBarronIcon ;
	animation-duration: 240s;
}
.barronTitle {
	animation-name: animateBarronTitle ;
	animation-delay: 0.75s;
	animation-duration: 239.25s;
}
.barronTitle span {
	animation-name: animatePPSpan ;
	animation-delay: 1s;
	animation-duration: 239s;
}

#text1 {
	animation-name: animateText1	;
    animation-duration: 5s;
}
#text2 {
	animation-name: animateText2	;
	animation-delay: 5s;
	animation-duration: 5s;
}